<%- include("partials/header.ejs") %>

<body class="">

    <!-- To-do List Menu -->
    <section>
        <div class="container-fluid main-container py-5">
            <div class="row">
            <div class="col-lg-3">
                      <!-- Other Menu -->
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button onclick="ganyuTheme()" type="button" class="btn bg-ganyu-light-blue text-white">Ganyu</button>
                        <button onclick="wandererTheme()" type="button" class="btn bg-wanderer-teal text-white">Wanderer</button>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-4">
                    <div class="character-quote-container">
                        <p class="character-quote">
                            "We're way behind schedule..."
                        </p>
                        <img class="chibi-character" src="images/ganyu-chibi-4.png" alt="">
                    </div> 
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <!-- Regular Look -->
                    <h1 class="date-header text-white bg-ganyu-light-red "> <%= currentDate %> </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <!-- Menu to add items -->
                    <div class="menu-container text-center">
                        <h2 class="menu-header text-white">Options</h2>
                        <img class="chibi-character" src="images/ganyu-chibi-3.png" alt="">
                    </div>
                    
                    <form action="/updatedList " method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <input class="btn input-group-text text-black" type="submit" name="" id="" value="Add">
                            </div>
                            <input type="text" class="form-control" name="listItem" placeholder="New Item"  required aria-label="Text input with checkbox">
                        </div>
                    </form>

                    <!-- Clear list -->
                    <form action="/clearList" method="POST">
                        <button class="btn text-black input-group-text" type="submit">Clear List</button>
                    </form>
                   
                </div>
                <div class="col-lg-7">
                    <!-- Display list of current items -->
                    <div class="menu-container text-center">
                        <h2 class="menu-header text-white">To-do List</h2>
                        <img class="chibi-character" src="images/ganyu-chibi-5.png" alt="">
                    </div>
                    
                        <% if( locals.toDoList ){ %>
                            <% for(let i =0; i < toDoList.length; i++){ %>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text ">
                                            <input type="checkbox" aria-label="Checkbox for following text input">
                                        </div>
                                    </div>
                                    <label for="" class="form-control"><%= toDoList[i] %></label>
                                </div>


                                <!-- <li> <%= toDoList[i] %></li> -->
                            <% } %>
                        <% }else{ %>
                            <!-- <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-ganyu-light-yellow">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <label for="" class="form-control">No items at the moment</label>
                            </div> -->
                        <% } %>    
                </div>
            </div>
        </div>

    </section>
</body>

<%- include("partials/footer.ejs") %>


